.search-form
    form.pure-form(id='searchForm' method='GET' onsubmit='return SearchForm(true)')
        fieldset
            input(type='text' id='inputSearch' onkeyup='FormChange()' onchange='FormChange()')
            button#btnSubmit.pure-button.pure-button-primary(type='submit') Buscar